<div class="container">
    <div class="card border-secondary my-3">
        <div class="card-header row" style="margin:unset">
            <div class="col">
                <h4>Tiendas</h4>
            </div>
            <div class="col">
                <a name="" id="" class="btn btn-primary float-right" routerLink="/tiendas/form" role="button">Añadir</a>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="row justify-content-between my-2" style="margin: unset;">
                <h5 class="card-title text-secondary">Listado de tiendas</h5>
                <button type="button" class="btn btn-primary float-right" *ngIf="tiendas.length > 0"
                    (click)="idOn=!idOn">{{idOn ? 'Ocultar ID' : 'Mostrar ID'}}</button>
            </div>
            <div class="alert alert-info" *ngIf="emptyList">
                No hay registros
            </div>
            <table class="table table-bordered text-secondary" *ngIf="tiendas.length > 0">
                <thead class="thead-light">
                    <tr>
                        <th *ngIf="idOn">ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="white-space: nowrap;" *ngFor="let tienda of tiendas">
                        <td *ngIf="idOn">{{tienda.id}}</td>
                        <td>{{tienda.nombre}}</td>
                        <td>{{tienda.direccion}}</td>
                        <td style="width: 1px; align-content: center;">
                            <div class="row my-1">
                                <div class="col">
                                    <a name="" id="" class="btn btn-outline-primary mr-2"
                                        routerLink="/tiendas/form/{{tienda.id}}" role="button">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a name="" id="" class="btn btn-outline-danger" (click)="deleteTienda(tienda)"
                                        role="button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>