<nav class="navbar navbar-expand-lg navbar-light bg-light shadow border-bottom border-light sticky-top">
    <a class="navbar-brand" routerLink="">
        <h2>
            BlockBuster
        </h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar navbar-nav mr-auto" *ngIf="checkLogin()">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/clientes">Clientes <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/juegos">Juegos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/tiendas">Tiendas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/companies">Compañías</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/stocks">Stocks</a>
            </li>
        </ul>
        <ul class="navbar nav justify-content-end ml-auto">
            <li class="nav-item" *ngIf="!checkLogin()">
                <button type="button" class="btn btn-primary" routerLink="/login">Log In</button>
            </li>
            <li class="nav-item" *ngIf="checkLogin()">
                <button type="button" class="btn btn-primary" (click)="logOut()">Log Out</button>
            </li>
        </ul>
    </div>
</nav>