<footer>
    <div class="footer bg-light rounded-top">
        <div class="container text-center pt-3">
            <p class="font-weight-bold">
                {{name}}
            </p>
        </div>
    </div>
</footer>