<div class="container">
    <div class="card border-secondary my-3">
        <div class="card-header row" style="margin:unset">
            <div class="col">
                <h4>Compañías</h4>
            </div>
            <div class="col">
                <a name="" id="" class="btn btn-primary float-right" routerLink="/companies/form" role="button">Añadir</a>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="row justify-content-between my-2" style="margin: unset;">
                <h5 class="card-title text-secondary">Listado de compañías</h5>
                <button type="button" class="btn btn-primary float-right"
                *ngIf="companies.length > 0"
                    (click)="idOn=!idOn">{{idOn ? 'Ocultar ID' : 'Mostrar ID'}}</button>
            </div>
            <div class="alert alert-info" *ngIf="emptyList">
                No hay registros
            </div>
            <table class="table table-bordered text-secondary" *ngIf="companies.length > 0">
                <thead class="thead-light">
                    <tr>
                        <th *ngIf="idOn">ID</th>
                        <th>Nombre</th>
                        <th>CIF</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="white-space: nowrap;" *ngFor="let company of companies">
                        <td *ngIf="idOn">{{company.id}}</td>
                        <td>{{company.nombre}}</td>
                        <td>{{company.cif}}</td>
                        <td style="width: 1px; align-content: center;">
                            <a name="" id="" class="btn btn-outline-primary mr-2" routerLink="/companies/form/{{company.id}}" role="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a name="" id="" class="btn btn-outline-danger" (click)="deleteCompany(company)" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>