<div class="container my-3">
    <div class="card border-secondary">
        <div class="card-header" style="margin: unset;">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.nombre"
                            name="name">
                    </div>
                    <div class="form-group col">
                        <label for="fechaNacimiento">Birth date</label>
                        <input type="text" class="form-control" [(ngModel)]=" cliente.fechaNacimiento"
                            placeholder="yyyy-MM-dd" name="fechaNacimiento">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label for="documentacion">Documentation</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.documentacion"
                            name="documentacion">
                    </div>
                    <div class="form-group col">
                        <label for="correo">Email</label>
                        <input type="text" class="form-control" [(ngModel)]="cliente.correo"
                            name="correo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="cliente.username"
                        name="username">
                </div>
                <div class="form-group" *ngIf="!cliente.id">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" [(ngModel)]="cliente.password"
                        name="password">
                </div>

                <div class="row">
                    <div *ngIf="!cliente.id" class="form-group mx-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="postCliente()">Añadir
                            cliente</button>
                    </div>
                    <div *ngIf="cliente.id" class="form-group mx-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="putCliente()">Editar
                            cliente</button>
                    </div>
                    <div class="form-group">
                        <button role="button" routerLink="/clientes" class="btn btn-secondary mt-2">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>