<div class="container my-4">
    <div class="card text-left">
        <div class="card-header">
            <h3>Login</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="categoria">Username</label>
                    <input type="text" class="form-control" [(ngModel)]=" credentials.username" name="username">
                </div>
                <div class="form-group">
                    <label for="categoria">Password</label>
                    <input type="password" class="form-control" [(ngModel)]=" credentials.password" name="password">
                </div>
                <div>
                    <button type="button" class="btn btn-primary mr-3" (click)="saveLogin()">Login</button>
                    <button type="button" class="btn btn-primary" routerLink='/home'>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>