<div class="container my-3">
    <div class="card border-secondary">
        <div class="card-header" style="margin: unset;">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group col">
                    <label for="name">Reference</label>
                    <input type="text" class="form-control" [(ngModel)]="stock.referencia" name="reference" name="name">
                </div>
                <div class="form-group col">
                    <label for="fechaLanzamiento">Status</label>
                    <select name="stock" id="" [(ngModel)]="stock.estado" class="mx-4">
                        <option value="VENDIDO">Comprar</option>
                        <option value="ALQUILADO">Alquilar</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="precio">Cliente</label>
                    <select name="cliente" id="" [(ngModel)]="stock.clienteDTO" class="mx-4">
                        <option value="{{cliente}}" [ngValue]="cliente" *ngFor="let cliente of clientes">{{cliente.nombre}}</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="precio">Juego</label>
                    <select name="juego" [(ngModel)]="stock.juegoDTO" class="mx-4">
                        <option value="{{juego}}" [ngValue]="juego" *ngFor="let juego of juegos">{{juego.titulo}}</option>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="precio">Tienda</label>
                    <select name="tienda" id="" [(ngModel)]="stock.tiendaDTO" class="mx-4">
                        <option value="{{tienda}}" [ngValue]="tienda" *ngFor="let tienda of tiendas">{{tienda.nombre}}</option>
                    </select>
                </div>
                <div class="row" style="margin: unset;">
                    <div *ngIf="!stock.id" class="form-group mr-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="postStock()">Añadir
                            juego</button>
                    </div>
                    <div *ngIf="stock.id" class="form-group mr-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="putStock()">Editar
                            juego</button>
                    </div>
                    <div class="form-group">
                        <button role="button" routerLink="/stocks" class="btn btn-secondary mt-2">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>