<div class="container my-3">
    <div class="card border-secondary">
        <div class="card-header" style="margin: unset;">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="company.nombre"
                            name="name">
                    </div>
                    <div class="form-group col">
                        <label for="cif">CIF</label>
                        <input type="text" class="form-control" [(ngModel)]=" company.cif"
                            name="cif">
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="!company.id" class="form-group mx-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="postCompany()">Añadir
                            compañía</button>
                    </div>
                    <div *ngIf="company.id" class="form-group mx-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="putCompany()">Editar
                            compañía</button>
                    </div>
                    <div class="form-group">
                        <button role="button" routerLink="/companies" class="btn btn-secondary mt-2">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>