<div class="container my-3">
    <div class="card border-secondary">
        <div class="card-header" style="margin: unset;">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" [(ngModel)]="tienda.nombre"
                            name="name">
                    </div>
                    <div class="form-group col">
                        <label for="direccion">Address</label>
                        <input type="text" class="form-control" [(ngModel)]=" tienda.direccion"
                            name="direccion">
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="!tienda.id" class="form-group mx-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="postTienda()">Añadir
                            tienda</button>
                    </div>
                    <div *ngIf="tienda.id" class="form-group mx-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="putTienda()">Editar
                            tienda</button>
                    </div>
                    <div class="form-group">
                        <button role="button" routerLink="/tiendas" class="btn btn-secondary mt-2">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>