<div class="container">
    <div class="card border-secondary my-3">
        <div class="card-header row" style="margin:unset">
            <div class="col">
                <h4>Juegos</h4>
            </div>
            <div class="col">
                <a name="" id="" class="btn btn-primary float-right" routerLink="/juegos/form" role="button">Añadir</a>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="row justify-content-between my-2" style="margin: unset;">
                <h5 class="card-title text-secondary">Listado de juegos</h5>
                <button type="button" class="btn btn-primary float-right" *ngIf="juegos.length>0"
                    (click)="idOn=!idOn">{{idOn ? 'Ocultar ID' : 'Mostrar ID'}}</button>
            </div>
            <div class="alert alert-info" *ngIf="emptyList">
                No hay registros
            </div>
            <table class="table table-bordered text-secondary" *ngIf="juegos.length>0">
                <thead class="thead-light">
                    <tr>
                        <th *ngIf="idOn">ID</th>
                        <th>Títutlo</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>PEGI</th>
                        <th>Fecha Lanzamiento</th>
                        <th>Empresas</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="white-space: nowrap;" *ngFor="let juego of juegos">
                        <td *ngIf="idOn">{{juego.id}}</td>
                        <td>{{juego.titulo}}</td>
                        <td>{{juego.categoria}}</td>
                        <td>{{juego.precio + '€'}}</td>
                        <td>{{'PEGI ' + juego.pegi}}</td>
                        <td>{{juego.fechaLanzamiento | date: "dd/MM/yyyy"}}</td>
                        <td>
                            <p *ngFor="let company of juego.companyDTOs">{{company.nombre}}</p>
                        </td>
                        <td style="width: 1px; align-content: center;">
                            <a name="" id="" class="btn btn-outline-primary mr-2" routerLink="./form/{{juego.id}}"
                                role="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a name="" id="" class="btn btn-outline-danger" (click)="deleteJuego(juego)" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>