<div class="container">
    <div class="card border-secondary my-3">
        <div class="card-header row" style="margin:unset">
            <div class="col">
                <h4>Stocks</h4>
            </div>
            <div class="col">
                <a name="" id="" class="btn btn-primary float-right" routerLink="/stocks/form" role="button">Añadir</a>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="row justify-content-between my-2" style="margin: unset;">
                <h5 class="card-title text-secondary">Listado de stocks</h5>
                <button type="button" class="btn btn-primary float-right"
                *ngIf="stocks.length>0"
                    (click)="idOn=!idOn">{{idOn ? 'Ocultar ID' : 'Mostrar ID'}}</button>
            </div>
            <div class="alert alert-info" *ngIf="emptyList">
                No hay registros
            </div>
            <table class="table table-bordered text-secondary" *ngIf="stocks.length>0">
                <thead class="thead-light">
                    <tr>
                        <th *ngIf="idOn">ID</th>
                        <th>Referencia</th>
                        <th>Estado</th>
                        <th>Cliente</th>
                        <th>Juego</th>
                        <th>Tienda</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="white-space: nowrap;" *ngFor="let stock of stocks">
                        <td *ngIf="idOn">{{stock.id}}</td>
                        <td>{{stock.referencia}}</td>
                        <td>{{stock.estado}}</td>
                        <td>{{stock.clienteDTO.nombre}}</td>
                        <td>{{stock.juegoDTO.titulo}}</td>
                        <td>{{stock.tiendaDTO.nombre}}</td>
                        <td style="width: 1px; align-content: center;">
                            <a name="" id="" class="btn btn-outline-primary mr-2" routerLink="./form/{{stock.id}}" role="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a name="" id="" class="btn btn-outline-danger" role="button" (click)="deleteStock(stock)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>