<div class="container">
    <div class="card border-secondary my-3">
        <div class="card-header row" style="margin:unset">
            <div class="col">
                <h4>Clientes</h4>
            </div>
            <div class="col">
                <a name="" id="" class="btn btn-primary float-right" routerLink="/clientes/form" role="button">Añadir</a>
            </div>
        </div>
        <div class="card-body text-secondary">
            <div class="row justify-content-between my-2" style="margin: unset;">
                <h5 class="card-title text-secondary">Listado de clientes</h5>
                <button type="button" class="btn btn-primary float-right"
                *ngIf="clientes.length > 1"
                    (click)="idOn=!idOn">{{idOn ? 'Ocultar ID' : 'Mostrar ID'}}</button>
            </div>
            <div class="alert alert-info" *ngIf="emptyList">
                No hay registros
            </div>
            <table class="table table-bordered text-secondary" *ngIf="clientes.length > 0">
                <thead class="thead-light">
                    <tr>
                        <th *ngIf="idOn">ID</th>
                        <th>Nombre</th>
                        <th>Documentación</th>
                        <th>Correo</th>
                        <th>Usuario</th>
                        <th>Fecha de Nacimiento</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="white-space: nowrap;" *ngFor="let cliente of clientes">
                        <td *ngIf="idOn">{{cliente.id}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.documentacion}}</td>
                        <td>{{cliente.correo}}</td>
                        <td>{{cliente.username}}</td>
                        <td>{{cliente.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 1px; align-content: center;">
                            <a name="" id="" class="btn btn-outline-primary mr-2" role="button" routerLink="/clientes/form/{{cliente.id}}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a name="" id="" class="btn btn-outline-danger" role="button" (click)="deleteCliente(cliente)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>