<div class="container my-4">
    <div class="card text-left">
        <div class="card card-header bg-danger">
            <h2>BlockBuster</h2>
        </div>
        <div class="card-body">
            <h4 class="card-title">¿Quiénes somos?</h4>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus tortor non nibh vestibulum
                consectetur. Nulla facilisi. Fusce commodo sapien id leo volutpat, eget maximus elit sagittis. Sed vitae
                lacus ante. Praesent nec libero a eros aliquam egestas. Ut accumsan urna at nibh pellentesque, sed
                porttitor purus finibus. Pellentesque volutpat sem dui, quis convallis nisl rhoncus sit amet. Donec sit
                amet ipsum convallis, interdum risus vel, lobortis orci. Mauris elit felis, maximus posuere risus et,
                lacinia fermentum ante. Morbi aliquet scelerisque egestas. Aliquam aliquam lacus non lorem cursus
                fringilla. Nulla eget lacus sit amet nulla accumsan dignissim.

                Maecenas et luctus leo, nec sodales erat. Vivamus at mauris fringilla, cursus lacus eget, blandit nunc.
                Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam molestie
                neque ac tempus sollicitudin. Ut rutrum, orci sed gravida commodo, odio ipsum aliquam lectus, sit amet
                malesuada urna nisl ut felis. Donec nec turpis sit amet dui bibendum porta sit amet et nibh. Nulla eget
                magna sit amet libero facilisis ornare. Donec tortor nibh, laoreet vel ipsum nec, commodo iaculis neque.

                Donec convallis neque eget sollicitudin suscipit. Phasellus vel tellus venenatis, posuere libero quis,
                imperdiet lacus. Fusce dapibus dictum est molestie convallis. Nunc ac vulputate ante. Cras nulla ligula,
                volutpat eu eros sed, convallis tristique arcu. Quisque euismod mattis orci, sed gravida ipsum posuere
                at. Vestibulum enim quam, molestie eget condimentum ut, pretium quis enim. Aenean tempor tellus leo,
                vitae auctor eros tincidunt a. Fusce et cursus justo.

                Donec tristique lorem quis sem luctus, sit amet pretium velit malesuada. Phasellus quis egestas lacus,
                quis molestie neque. Etiam sodales metus et nulla pulvinar, id volutpat metus gravida. Fusce quis lacus
                mi. Maecenas id fringilla ex. Nullam eget tortor lorem. Morbi commodo lobortis porttitor.

                Aliquam congue blandit tempor. Vestibulum sed nunc quis dui mollis maximus et nec eros. Proin vitae
                libero tristique, ullamcorper purus id, dictum neque. Duis condimentum est et felis condimentum, at
                gravida leo volutpat. Mauris tempus euismod arcu, sit amet mollis diam feugiat a. Nullam eget mattis
                justo. Mauris eu ipsum in urna venenatis ullamcorper. Cras quis commodo felis, non congue arcu. Donec at
                lectus arcu. Donec rutrum arcu ac orci vulputate placerat. Fusce et libero ante. Curabitur condimentum
                sit amet mauris non varius. Nunc magna ante, hendrerit vel dolor sed, scelerisque ultrices eros. Fusce
                volutpat ac lacus eu lobortis. Vestibulum lacinia lectus sed augue mattis, at porttitor nibh porttitor.
            </p>
        </div>
    </div>
</div>