<div class="container my-3">
    <div class="card border-secondary">
        <div class="card-header" style="margin: unset;">
            <h5>{{title}}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row" style="margin: unset;">
                    <div class="form-group col">
                        <label for="name">Title</label>
                        <input type="text" class="form-control" [(ngModel)]="juego.titulo" name="name"
                            name="name">
                    </div>
                    <div class="form-group col">
                        <label for="fechaLanzamiento">Launch date</label>
                        <input type="text" class="form-control" [(ngModel)]=" juego.fechaLanzamiento" name="lsunchDate"
                            placeholder="yyyy-MM-dd" name="fechaLanzamiento">
                    </div>
                </div>
                <div class="row" style="margin: unset;">
                    <div class="form-group col">
                        <label for="precio">Price</label>
                        <input type="text" class="form-control" [(ngModel)]=" juego.precio" name="price"
                            name="precio">
                    </div>
                    <div class="form-group col">
                        <label for="pegi">PEGI</label>
                        <input type="text" class="form-control" [(ngModel)]="juego.pegi" name="pegi"
                            name="pegi">
                    </div>
                </div>
                <div class="form-group col">
                    <label for="categoria">Categories</label>
                    <input type="text" class="form-control" [(ngModel)]=" juego.categoria" name="categories"
                        name="categoria">
                </div>
                <!--Para que muestre este dropdown, por algún motivo es necesario refrescar la página-->
                <!--Funcionalidad añadida-->
                <div class="form-group">
                    <label class="mr-3" for="companies">Developers</label>
                    <select class="selectpicker" [(ngModel)]="juego.companyDTOs" name="companies"
                        ng-multiple="true" multiple>
                        <option *ngFor="let company of companies" value="{{company}}" [ngValue]="company">
                            {{company.nombre}}</option>
                    </select>
                </div>
                <div class="row" style="margin: unset;">
                    <div *ngIf="!juego.id" class="form-group mr-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="postJuego()">Añadir
                            juego</button>
                    </div>
                    <div *ngIf="juego.id" class="form-group mr-3">
                        <button role="button" class="btn btn-primary mt-2" (click)="putJuego()">Editar
                            juego</button>
                    </div>
                    <div class="form-group">
                        <button role="button" routerLink="/juegos" class="btn btn-secondary mt-2">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>